.forgot[data-v-15e3e196]{margin:.3rem 0 .6rem;font-size:.26rem;align-self:flex-end}.register[data-v-15e3e196]{width:100%}@media screen and (min-width: 1200px){.forgot[data-v-15e3e196]{margin:.15rem 0 .3rem;font-size:.14rem}}
